* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
}

header {
  right: 0;
  height: 42px;
  z-index: 10;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);

  &, .mask {
    position: absolute;
    top: 0;
    left: 0;
  }

  .mask {
    width: 100%;
    height: 100%;
    filter: blur(10px);
  }

  h2 {
    position: absolute;
    margin-left: 20px;
    line-height: 42px;
    font-size: 16px;
    color: #fff;
    font-family: 'Microsoft YaHei';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
}

main {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  background: linear-gradient(#fff, #aaa);
  overflow: auto;
  text-align: center;
}

.head-img {
    height: 170px;
    background: url("head.png") 0 0 no-repeat;
    background-position: center;
}

.wrap {
  display: inline-block;
  margin: 10px auto 20px;
  padding: 20px;
}

.form-wrap {
  margin: 0 auto;
  padding: 20px;
  width: 420px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #567;

  form {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    &:last-child {
      margin-bottom: 0;
    }
    .pageUrls {
      margin-top: 5px;
      resize: none;
    }
    label {
      margin-right: 10px;
    }
    .button {
      text-align: center;
    }
    input {
      margin-bottom: 10px;
    }
    input[name=pageUrls] {
      width: 380px;
    }
    input[type=button] {
      display: inline-block;
      margin: 10px 5px 0;
      width: 80px;
      height: 30px;
    }
  }
}

.result {
  .handle {
    margin: 10px auto;
    width: 420px;
    background-color: #567;
    text-align: left;
    label {
      font-size: 14px;
      margin-right: 10px;
    }
    input {
      width: 250px;
    }
    #images-down {
      margin-left: 10px;
      width: 60px;
      height: 20px;
    }
  }
  .item {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #567;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    .item-head {
      padding: 14px 0 8px;
      line-height: 18px;
      color: #fff;
    }
    .img-wrapper {
      img {
        float: left;
        margin: 0 10px 20px;
        width: 100px;
        height: 100px;
      }
      &::after {
        content: '.';
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  background-color: #345;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);

  span {
    margin-left: 20px;
    color: #fff;
  }

  input {
    width: 300px;
  }
}